.button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-size: 14px;
  color: #111b3a;
  cursor:pointer;
}

.button-selected {
  background-color: #FFFFFF;
}
/* 
.item-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
} */

.button-group {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}
.checkbox-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 40px;
  cursor:pointer;
  margin-bottom: 5px;
}
.checkbox-button img {
  width: 18px;
  height: 11px;
  margin-right: 5px;
}
/* .checkbox-button .selected-text{
  font-size: 18px;
  color: #2196f3;
} */
.text {
  font-size: 18px;
  color: #2196f3;
  /* font-weight: 600; */
}
