.collapse-container{
    height: 50px;
    transition:height 0.3s ease-in;
    overflow: hidden;
}
.container-warp{
    min-height: 50px;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background-color: #EFF4F5;
    box-sizing: border-box;
}
.button-wrap{
    width: 60px;
    top: 3px;
    right: 0;
    position: absolute;
}
